.naviagtion{
    background-color:#142127;
    color:  #61790e ;;
    padding: 0rem 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}
.naviagtion .logo-link{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
}
.navigate-list {
  margin-left: 3rem;
}
.navigate-list ul{
    display: flex;
    justify-content: space-around;
}
.navigate-list ul li{
    margin: 0 1rem;
    list-style: none;
    font-weight: 550;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.farbar, .close, .the-mobile{
    display: none;
}
.app-link{
    display: flex;
}
.app-link button{
    padding: 12px 1.2rem;
    border-radius: 25px;
    background-color: #61790e ;
}
.account button{
    display: none;
 }
 .account{
    display: none;
 }
 .profilepix{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
 }
 .profilepix img{
   width: 100%;
   border-radius: 50%;
 }
 .logo-link{
    width: 10rem;
 }
 .logo-link img{
    width: 100%;
 }

@media screen and (max-width: 760px) {
    .naviagtion{
        width: 100vw;
        height: 3.5vh;
        background-color:rgb(240, 240, 240);
        margin: 0px auto;
        padding: 1rem 0 1rem 0;
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo-link{
        font-size:1rem ;
        color:  #61790e ;
        padding: 0 0.5rem;
    }
    .navigate-list{
        position: absolute;
        z-index: 200;
        top: -1rem;
        right: -18.5rem;
    }
    .navigate-list ul{
        display: block;
        margin-top: 1rem;
        padding: 2rem 5rem 6rem 1rem;
        height: 100vh;
        position: relative;
        text-align: left;
        z-index: 30000;
        background-color:  #7e9d10;;
        justify-content: space-around;
    }
    .navigate-list ul li{
        margin: .8rem 1rem;
        list-style: none;
        padding: 0rem 0;
        font-size: 1.2rem;
        font-weight:550;
        color: white;
    }
    .close{
        font-size: 1.5rem;
        position: absolute;
        display: block;
        margin: 0rem 0 3rem 0; 
        padding: 0rem 0 3rem 0; 
        top: 40px;
        right: 2.2rem;
        color: white;
    }
    .farbar div{
        height: 3px;
        width: 30px;
        background-color:  #61790e ;
        margin: 4px 0;
        
    }
    .farbar {
        position: absolute;
        display: block;
        top: .5rem;
        right: 2rem;
    }
    .app-link{
        display: none;
    }
    .the-mobile{
        display: block;
        position: absolute;
        margin: 1rem 1rem;
    }
    .mobile-logout div{
        background-color:  #61790e ;
        color: white;
        padding: 3px 20px;
        border-radius: 5px;
        margin: .5rem 0;
    }
    .the-mobile button{
       color: white;
       background-color: #61790e ;
       padding: 0.6rem 1.2rem;
       border-style: none;
       border-radius: .5rem;
    }
    .account{
        display: flex;
    }
    .mobile-profile{
        margin: 1rem 1rem;
    }
    .mobile-photo{
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
    }
    .account button{
        display: block;
        color: white;
       background-color:  #61790e ;
       padding: 0.3rem 1rem;
       margin: 3rem .5rem 2.5rem .8rem;
     }
}