.cobout{
    margin: 4rem 0;
    padding: 0 10%;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap:2rem ;
    align-content: center;
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cobout-img{
    height: 25rem;
    width: 32rem;
}
.cobout-img img{
    height: 100%;
    width: 100%;
}
.cobout-cont{
    color:gray;
}
.bout-content{
 font-size:.9rem ;
}
.cobout-cont span{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 0;
    color: #6b860e;
}
.the-wrd {
    margin: 1.3rem 0;
    display: flex;
    gap: 2rem;
}
.the-wrd img{
  width: 7rem;
}
@media screen and (max-width: 760px) {
    .cobout{
        grid-template-columns: 1fr;
        padding: 0 5% 0 5%;
    }
    .cobout-img{
        height: 15rem;
        width: 20rem;
    }
    .bout-content{
        font-size: .8rem;
    }
    .the-wrd img{
       width: 5rem;
    }
    .the-wrd{
        gap: .8rem;
    }
}