.the-footer-path{
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(231, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.date-up-com{
    display: grid;
    align-content: center;
    justify-items: center;
}
.date-up-com .date-com-lists{
     width: 15rem;
}
.date-com-lists img{
    width: 100%;
}
.date-up-comm .date-com-list{
   margin: .5rem 0;
}
.date-up-pages .date-com-list{
    margin: .5rem 0;
 }
.date-up-pages p{
    font-size: 1.2rem;
    font-weight: 500; 
    cursor: pointer;  
}
.date-up-social p{
    font-size: 1.2rem;
    font-weight: 500; 
    cursor: pointer;
}
.date-up-register p{
    font-size: 1.2rem;
    font-weight: 500; 
}
.date-up-pages .date-com-list{

}
.date-up-social p{
    font-weight: 500;
    text-align: left;
}
.nv-social{
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin: .5rem 0;
}
.media-logo img{
    width: 1.2rem;
    height: 1.2rem;
    filter: invert(99%) sepia(36%) saturate(2%) 
    hue-rotate(150deg) brightness(113%) contrast(101%);
}
.button button{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 1.8rem;
    background:  #6b860e;
    border-style: none;
}
.media-logo:hover{
    margin: 0 0 0 -.5rem;
    transition: 200ms;
    cursor: pointer;
}
.date-com-list:hover{
    margin: 0 0 0 -.5rem;
    transition: 200ms;
    cursor: pointer;
}
@media screen and (max-width: 760px) {
    .the-footer-path{
        display: grid;
        text-align: left;
        grid-template-columns: 1fr;
        width: 85vw;
        margin: 3rem auto;
    }
}

